<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https: //fonts.googleapis.com/css2? family = Roboto & display = swap " rel=" stylesheet ">
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header>
        <section>
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
        </section>

        <section>
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas" required>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </section>
        <section>
            <div class="center">
                <a href="#" class="head"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                    credito</a>
            </div>


        </section>
        <section class="">
            <nav class="#">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="#">
                <ul>
                    <li><a href="#">Crea tu cuenta</a><i class="far fa-id-card"></i></i></li>
                    <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </section>
        <section>
            <a class="burger" href=""><i class="fas fa-bars"></i></a>
        </section>
    </header>

    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg">
        </div>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$6.770</span>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$230.000</span>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$70.500</span>
                    <p>10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$23.200</span>
                    <p>5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$6.770</span>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$230.000</span>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$70.500</span>
                    <p>10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="truck">
                    <i class="fas fa-truck"></i></a>
                </div>
                <div>
                    <span>$23.200</span>
                    <p>5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <a class="info" href="#"><i class="fas fa-credit-card"></i></a>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <a class="info" href="#"><i class="fas fa-gift"></i></a>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíon gratis en miles de productos. es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <a class="info" href="#"><i class="fas fa-user-shield"></i></a>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.</p>
        </section>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>